<h1>My Friends</h1>
<h3>Search for friends</h3>
<div id="friend_lookup">
  <%= form_tag search_friends_path, remote:true, method: :get, id: "friends-lookup-form" do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_param, 
            params[:search_param], 
            placeholder: "Search for Friends",
            autofocus: true,
            class: "form-control search-box input-lg"
        %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Search for a friends
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
  <%= render 'result'%>
</div>
