<% if params[:action] == "search"%>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @users && @users.size >0 %>
  <div id="friend-lookup-results" class="well results-block col-md-10">
    <table class="search-results-table col-md-12">
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><strong>Name:</strong><%= user.full_name%></td>
          <td><strong>Email:</strong><%= user.email%></td>
          <td>
            <strong>Profile: </strong>
            <%= link_to "View", user_path(user), 
                class: "btn btn-xs btn-success"%>
            <% if current_user.not_friends_with?(user.id) %>
              <%= link_to "Add as friend", add_friend_path(user: current_user, friend: user), 
                  class: "btn btn-xs btn-primary", method: :post %>
            <% else %>
              <span class="label label-primary">You are already friends</span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
